.container {
    display: grid;
    grid: 1fr 5fr / 1fr 4fr;
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    grid-area: 1 / 1 / span 1/ span 2;
    border: 1px solid blue;
    justify-content: left;
    align-items: center;
}

.side-bar {
    border: 1px solid red;
    grid-area: 2 / 1 / span 1 / span 1;
}

.main-content {
    border: 1px solid green;
    grid-area: 2 / 2 / span 1 / span 1;
}